# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sangn\Desktop\C0322G1\c03322g1_nguyen_hoang_sang_module_3\ss10_jsp_jstl\practice\currency_converter_app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
